/* Start Captcha*/

.el_captcha_box
{
    display: table;
    margin: 10px 6px 0px 6px;
}

.el_captcha_box div
{
    float:left;
}

.el_captcha_box span
{
    display: table-caption;
}

.el_img_captcha
{
    border:1px solid #D3D3D3;
    height: 30px;
    width: 200px;
}

.el_image_re_captcha
{
    cursor: pointer;
    padding: 5px;
    margin: 5px 0px;
    height: 16px;
    width: 16px;
    background-image: url('../../client/image/aggregation_32.png');
    background-position: 5px -3325px;
    background-repeat: no-repeat;
}

/* Right To Left */
html[dir="rtl"] #div_Captcha div
{
    float: right;
}

/* End Captcha*/
