<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime requestValidationMode="2.0" targetFramework="4.5" maxRequestLength="1048576" enableVersionHeader="false" />
    <pages controlRenderingCompatibilityVersion="4.5" enableViewState="false" buffer="true">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
    <customErrors mode="Off" defaultRedirect="~/page/error/" redirectMode="ResponseRedirect">
      <error statusCode="400" redirect="~/page/error/400/" />
      <error statusCode="401" redirect="~/page/error/401/" />
      <error statusCode="403" redirect="~/page/error/403/" />
      <error statusCode="404" redirect="~/page/error/404/" />
      <error statusCode="500" redirect="~/page/error/500/" />
    </customErrors>
  </system.web>
  <system.webServer>

    <!-- This Section Tag Redirect Websie Url If Start With www And Delete It From Url (www.example.com to example.com), If Sure Web Server Support, Use It -->
    <!--<rewrite>
      <rules>
        <rule name="remove www" stopProcessing="true">
          <match url=".*" ignoreCase="true" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTP_HOST}" pattern="^www\.(.*)$" />
          </conditions>
          <action type="Redirect" url="http://{C:1}/{R:0}" appendQueryString="true" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>-->
    
    <validation validateIntegratedModeConfiguration="false" />
    <security>
      <requestFiltering removeServerHeader="true" >
        <requestLimits maxAllowedContentLength="2147483648" />
      </requestFiltering>
    </security>
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <add name="DefaultPageAccessHandler" verb="*" path="/Default.aspx*" type="elanat.Handler, elanat" />
      <add name="ActionDirectoryAccessHandler" verb="*" path="/action/*" type="elanat.Handler, elanat" />
      <add name="AddOnDirectoryAccessHandler" verb="*" path="/add_on/*" type="elanat.Handler, elanat" />
      <add name="AdminDirectoryAccessHandler" verb="*" path="/admin/*" type="elanat.Handler, elanat" />
      <add name="BackupDirectoryAccessHandler" verb="*" path="/backup/*" type="elanat.Handler, elanat" />
      <add name="ClientDirectoryAccessHandler" verb="*" path="/client/*" type="elanat.Handler, elanat" />
      <add name="DataBaseDirectoryAccessHandler" verb="*" path="/database/*" type="elanat.Handler, elanat" />
      <add name="IncludeDirectoryAccessHandler" verb="*" path="/include/*" type="elanat.Handler, elanat" />
      <add name="InstallDirectoryAccessHandler" verb="*" path="/install/install.aspx" type="elanat.Handler, elanat" />
      <add name="LanguageDirectoryAccessHandler" verb="*" path="/language/*" type="elanat.Handler, elanat" />
      <add name="MemberDirectoryAccessHandler" verb="*" path="/member/*" type="elanat.Handler, elanat" />
      <add name="PageDirectoryAccessHandler" verb="*" path="/page/*" type="elanat.Handler, elanat" />
      <add name="RssDirectoryAccessHandler" verb="*" path="/rss/*" type="elanat.Handler, elanat" />
      <add name="SitemapDirectoryAccessHandler" verb="*" path="/sitemap/*" type="elanat.Handler, elanat" />
      <add name="TemplateDirectoryAccessHandler" verb="*" path="/template/*" type="elanat.Handler, elanat" />
      <add name="UploadDirectoryAccessHandler" verb="*" path="/upload/*" type="elanat.Handler, elanat" />
      <add name="PageContentUrlRewriteAccessHandler" verb="*" path="/page_content/*" type="elanat.Handler, elanat" />
      <add name="ContentUrlRewriteAccessHandler" verb="*" path="/content/*" type="elanat.Handler, elanat" />
      <add name="ContentTypeUrlRewriteAccessHandler" verb="*" path="/content_type/*" type="elanat.Handler, elanat" />
      <add name="ContentPageUrlRewriteAccessHandler" verb="*" path="/content_page/*" type="elanat.Handler, elanat" />
      <add name="TagUrlRewriteAccessHandler" verb="*" path="/tag/*" type="elanat.Handler, elanat" />
      <add name="CategoryRewriteAccessHandler" verb="*" path="/category/*" type="elanat.Handler, elanat" />
      <add name="SiteUrlRewriteAccessHandler" verb="*" path="/site/*" type="elanat.Handler, elanat" />
      <add name="LanguageUrlRewriteAccessHandler" verb="*" path="/lang/*" type="elanat.Handler, elanat" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>