<?xml version="1.0" encoding="utf-8"?>
<configuration>  
  <system.webServer>
      <security>
        <requestFiltering>
          <hiddenSegments>
            <clear />
          </hiddenSegments>
          <fileExtensions>
            <clear />
          </fileExtensions>
        </requestFiltering>
      </security>
  </system.webServer>
</configuration>