::selection
{
    background: #d1ffca none repeat scroll 0% 0%;
    color: #00BA57;
}

iframe
{
    width: 100%;
}
 
body 
{
    line-height: 1;
}
 
ol, ul 
{
    list-style: none;
}
 
blockquote, q 
{
    quotes: none;
}

body
{
    margin: auto;
}

a:link
{
    color:#00BA57;
}

a:visited
{
    color:#00BA57;
}

a:hover
{
    color:#00BA57;
}
       
a
{
    text-decoration:none;
}

.el_header_part
{
    width:100%;
    background-color:#EAECEC;
    display:table;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 2000px auto;
}

.el_menu_part
{
    width:100%;
    background: linear-gradient(#EAECEC, #FFFFFF);
    display:table;
    border-top: 1px solid #dedede;
}

.el_main_part
{
    width:100%;
    display:table;
    margin-top: 20px;
    min-height: 300px;
}

.el_footer_part
{
    width:100%;
    background-color: #3c3c3c;
    color: #fff;
    display:table;
    border-top: 1px solid #DDD;
}

.el_header
{
    max-width: 1024px;
    height: 140px;
    margin-left: auto;
    margin-right: auto;
    display: table;
    width: 100%;
}

.el_header_bar_box a:link, .el_header_bar_box a:visited
{
    color: #000;
}

.el_header_bar_box a:hover
{
    color: #FFF;
}

.el_header_bar_box_menu
{
    margin: 10px 0px;
    text-align: center;
	font-size: 14px;
	font-family: tahoma;
}

.el_header_bar_box_menu ul li
{
	padding: 5px 0px;
}

.el_header_bar_box_item .el_menu_title
{
    display: table;
    margin: 0px auto;
}

.el_header_menu, .el_menu_bottom
{
    display: table;
    margin: 0px auto;
}

.el_header_menu, .el_footer_menu
{
    width:100%;
    height: auto;
    float:left;
    margin: 2px;
}

.el_header_menu_menu_box, .el_footer_menu_menu_box
{
    display: table;
    margin: 0px auto;
    line-height: 20px;
}

.el_header_menu_item, .el_footer_menu_item
{
    display: table;
    float: left;
    margin: 10px;
}

/* Right To Left */
html[dir="rtl"] .el_header_menu_item, html[dir="rtl"] .el_footer_menu_item
{
    float: right !important;
}

.el_header_menu_menu, .el_footer_menu_menu
{
    float: left;
    display: inline;
    width: 250px;
    margin : 0px 10px;
	font-size: 14px;
	font-family: tahoma;
}

/* Right To Left */
html[dir="rtl"] .el_header_menu_menu, html[dir="rtl"] .el_footer_menu_menu
{
    float: right !important;
}

.el_header_menu_menu ul li, .el_footer_menu_menu ul li
{
	padding: 5px 0px;
}

.el_header_1
{
    display: table;
    width: 49%;
    float: left;
}

.el_header_2
{
    display: table;
    width: 49%;
    float: right;
}

.el_header_1_menu, .el_header_2_menu
{
    margin: 10px 0px;
    text-align: center;
	font-size: 14px;
	font-family: tahoma;
}

.el_header_1_menu ul li, .el_header_2_menu ul li
{
	padding: 5px 0px;
}

.el_header_1_item .el_menu_title, .el_header_2_item.el_menu_title
{
    display: table;
    margin: 0px auto;
}

.el_main
{
    display: table;
    width: 100%;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 48px;
}


.el_main .el_content
{
    width: 56%;
    float: left;
    height: auto;
    display: table;
    line-height: 30px;
    font-family: tahoma;
}


.el_header .el_inner_right
{
    float: right;
    width: 49%;
    height: 140px;
    min-width: 200px;
}

.el_header .el_inner_left
{
    width: 100%;
    height: 140px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center center;
    min-width: 200px;
}

.el_left_menu
{
    width: 21%;  
    float: left;
    padding-right: 10px;
}

.el_left_menu_menu
{
    margin: 5px;  
}

.el_left_menu_item
{
    margin: 20px 0px;
    border: solid 1px #dddddd;
    display: table;
    width: 100%;
    line-height: 20px;
    padding: 0px 0px 10px 0px;
}

.el_left_menu_item ul
{
    margin: 10px 0px;
}

.el_right_menu
{
    width: 21%;  
    float: left;
    padding-left: 10px;
}

.el_right_menu_menu
{
    margin: 5px;  
}

.el_right_menu_item
{
    margin: 20px 0px;
    border: solid 1px #dddddd;
    display: table;
    width: calc(100% - 2px);
    line-height: 20px;
    padding: 0px 0px 10px 0px;
}

.el_right_menu_item ul
{
    margin: 10px 0px;
}

.el_space
{
    padding:0px 10px;
}

.el_attachment
{
    display: table;
    width: calc(100% - 52px);
    padding: 20px;
    border: 1px solid #DDD;
    text-align: center;
    margin: 5px auto;
    
}

.el_attachment .el_attachment_head
{
    color:#008A47;
    margin-bottom: 10px;
    padding: 10px 0px;
    background: linear-gradient(#EAECEC, #FFFFFF);
    font-size: 14px;
    font-weight: bold;
    font-family: tahoma;
    
}

.el_attachment .el_file
{
    display: table;
    float: left;
    margin: 5px 5px 10px;
    background-repeat: no-repeat;
    background-position: left center;
    min-width: 180px;
    width: calc(50% - 27px);
    height: 50px;
    padding: 5px 7.5px;
    font-size: 12px;
    font-family: tahoma;
    font-weight: bold;
    border: 1px solid #DDD;
    line-height: 12px;
}

.el_attachment .el_file .el_attachment_extension
{
    float:left;
    background-image: url("../../../image/file_extension_icon/blank.png");
    width:48px;
    height:48px;
}

.el_attachment .el_file .el_attachment_extension .el_show_play
{
    cursor:pointer;
    width:100%;
    height:100%;

}

.el_attachment .el_file .el_attachment_extension .el_show_play:hover
{
    background-image: url('../../../image/aggregation_32.png');
    background-position: 8px -6008px;
    background-repeat:no-repeat;
    opacity:0.8;
}


.el_attachment .el_file .el_attachment_title
{
    margin: 12px auto;
    padding: 2px 0px;
    height: auto;
}

.el_attachment .el_file .el_attachment_title a 
{
    vertical-align:middle;
}

.el_attachment .el_file .el_attachment_details .el_attachment_size
{
    font-size: 10px;
    float: right;
    margin-right: 4px;
}

.el_attachment .el_file .el_attachment_details .el_attachment_visit
{
    font-size: 10px;
    float: right;
    margin-right: 4px;
}

.el_attachment .el_show_protection_attachment
{
    text-align: left !important;
}

/* Right To Left */
html[dir="rtl"] .el_attachment .el_show_protection_attachment
{
    text-align: right !important;
}

.el_footer
{
    margin: 0px auto;
    padding-top: 24px;
    min-height: 150px;
    display:table;
    width: 90%;
}

.el_footer .el_top
{
    height: 20px;
}

.el_footer .el_top .el_right
{
    width: 45%;
    float: right;
    padding-top: 5px;
    text-align: center
}

.el_footer .el_top .el_left
{
    width: 45%;
    float: left;
    margin-left: 10px;
}

/* Reserve */
.el_footer .el_footer_1, .el_footer .el_footer_2
{
    width:100%;
    height: auto;
    float:left;
    margin: 10px;
}

.el_footer .el_bottom
{
    width: auto;
    height: auto;
}

.el_footer .el_bottom .el_top
{
    width: 100%;
    height: 40px;
    margin: 10px 0px;
}

.el_footer_1_menu_box, .el_footer_2_menu_box
{
    display: table;
    margin: 0px auto;
    line-height: 20px;
}

.el_footer_1_item, .el_footer_2_item
{
    display: table;
    float: left;
    margin: 10px;
}

/* Right To Left */
html[dir="rtl"] .el_footer_1_item, html[dir="rtl"] .el_footer_2_item
{
    float: right !important;
}

.el_footer_1_menu, .el_footer_2_menu
{
    float: left;
    display: inline;
    width: 250px;
    margin : 0px 10px;
	font-size: 14px;
	font-family: tahoma;
}

/* Right To Left */
html[dir="rtl"] .el_footer_1_menu, html[dir="rtl"] .el_footer_2_menu
{
    float: right !important;
}

.el_footer_1_menu ul li, .el_footer_2_menu ul li
{
	padding: 5px 0px;
}

.el_copyright
{
    display: table;
    font-size: 12px;
    text-align: center;
    margin: 0px auto;
    line-height: 30px;
    font-family: tahoma;
}

.el_site_address
{
    width: 100%;
    height: auto;
    margin: 10px 0px;
}

.el_site_other_info
{
    width: 100%;
    height: auto;
    margin: 10px 0px;
}

/* Start Menu */

/* Reserve */
.el_menu
{
    direction: rtl;
    text-align: right;
    padding-right: 20px;
    height: 38px;
    max-width: 1200px;
    margin: 0px auto;
    display: table;
    width: calc(100% - 20px);
}

.el_menu_menu
{
    margin: 0px auto;
    display: table;
    width: 100%;
}

.el_menu_title
{
    font-family: tahoma;
    font-weight: bold;
    color: #a8a8a8;
}

/* Reserve */
.el_menu #div_CloseMenu
{
    display:none;
}

/* Reserve */
.el_menu #div_CloseMenu
{
    display:none;
}

.el_menu ul
{
    display: inline;
    list-style-type: none;
    margin-right: 10px;
}

.el_menu ul li
{
    padding-left: 10px;
    float: right;
    padding-right: 10px;
    height: 38px;
    line-height: 38px;
}

.el_menu a
{
    line-height: 30px;
    font-family: tahoma;
}

.el_menu_item
{
    width: 100%;
    max-width: 1200px;
    padding: 0px 0px 10px;
    display: table;
}

.el_menu_item li
{
    list-style: none;
    line-height: 20px;
    font-family: tahoma;
    font-size: 14px;
}

.el_menu_item_head
{
    margin-bottom: 10px;
    color: #008a47;
    font-size: 18px;
    height: 30px;
    padding: 0px 4px 4px 4px;
    border-bottom: 4px solid #eee;
    background-color: #f9f9f9;
    line-height: 34px;
}

#category option
{
    direction:rtl;
}

.el_current_page
{
    border-bottom:2px solid #00DA73;
}

/* Reserve */
.el_menu_responsive_button
{
    height: 30px;
    width: 30px;
    margin: 20px;
    display:table;
}

/* Reserve */
.el_menu_responsive_button #div_ShowMenu
{
    background-image: url('../../../image/aggregation_32.png');
    background-position: 6px -3450px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

/* Reserve */
.el_menu_responsive_button #div_CloseMenu
{
    display:none;
}

/* Reserve */
.el_menu_responsive_button ul
{
    display:none;
}

/* Reserve */
.el_menu_responsive_show
{
    width: 280px;
    position: fixed;
    top: 0px;
    height: 100%;
    padding-top: 10px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background: linear-gradient(#EAECEC, #FFFFFF);
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1;
}

/* Right To Left */
html[dir="rtl"] .el_menu_responsive_show
{
    border-right: unset;
    border-left: 1px solid #ccc;
}

/* Reserve */
.el_menu_responsive_show ul
{
    padding: 0px 10px;
}

/* Reserve */
.el_menu_responsive_show ul li
{
    padding: 5px;
}

/* Reserve */
.el_menu_responsive_show #div_CloseMenu
{
    background-image: url('../../../image/aggregation_32.png');
    background-position: 3px -5500px;
    height: 30px;
    width: 30px;
    margin: 20px;
    cursor: pointer;
    float: right;
}

/* Right To Left */
html[dir="rtl"] .el_menu_responsive_show #div_CloseMenu
{
    float: left !important;
}

/* Reserve */
.el_menu_responsive_show #div_ShowMenu
{
    display:none;
}

/* Reserve */
#div_TmpFooter
{
    margin-top: 10px;
    padding-top: 10px;
}

/* End Menu */

/* Start User Info */

.el_user_info
{
    width:300px;
    height:300px
}

.el_user_info div
{
	height:150px;
}

.el_user_info .el_about
{
	text-align:center;
	padding:10px
}

.el_user_info .el_details
{
	float:right;
	padding-right:10px;
}

.el_user_info .el_avatar_info
{
	width:128px;
	height:128px;
	float:left;
}

.el_user_avatar img
{
    height: 128px;
    width: 128px;
}

/* End User Info */

.el_category_name, .el_release_content 
{
    font-size: 100%;
    white-space: nowrap;
    padding: 5px 10px;
    white-space: nowrap;
}

.el_category_name_box
{
    float: left;
    width: 65%;
    width: 100%;
    color: #00BA57;
    text-align: center;
}

/* Right To Left */
html[dir="rtl"] .el_category_name_box
{
    float: right !important;
}

#TextArea1
{
    width: 73px;
    height: 32px;
}

#Select1
{
    height: 29px;
    width: 110px;
}

#Select2
{
    width: 42px;
}

#Text1
{
    width: 51px;
}

#Year
{
    width: 39px;
    text-align: center;
    height: 22px;
}

.el_content_body
{
    padding: 15px;
    border: solid 1px #dddddd;
}

.el_content_body .el_paragraph
{
    margin: 0px 10px 30px 10px;
    color: #222;
    text-align: justify;
}

/* Right To Left */
html[dir="rtl"] .el_content_body .el_paragraph
{
    direction: rtl;

}

.el_content_body .el_content_body_top
{
    padding-bottom: 50px;
}

.el_content_body .el_content_body_top .el_content_body_top_first
{
    float: left;
    width: 60%;
    border-top: 1px solid #dddddd;
    margin-top: 11px;
}

/* Right To Left */
html[dir="rtl"] .el_content_body .el_content_body_top .el_content_body_top_first
{
    float: right !important;
}

.el_content_body .el_content_body_top .el_content_body_top_second
{
    float: right;
    width: 40%;
    line-height: 22px;
}

/* Right To Left */
html[dir="rtl"] .el_content_body .el_content_body_top .el_content_body_top_second
{
    float: left !important;
}

.el_content_post .el_top .el_action
{
    float: left;
    text-align: center
}

.el_content_post .el_top .el_send_email
{
    margin-left: 5px;
    cursor: pointer;
    height: 20px;
    width: 20px;
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -4736px;
    float:left;
}

.el_content_post .el_top .el_print
{
    margin-left: 5px;
    cursor: pointer;
    height: 20px;
    width: 20px;
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -4672px;
    float:left;
}

.el_content_body .el_share
{
    margin-left: 5px;
    cursor: pointer;
    height: 20px;
    width: 20px;
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -6464px;
    float: left;
}

.el_content_keywords
{
    display: table;
}

.el_content_keywords .el_content_keywords_title
{
    float: left;
    font-weight: bold;
    display: table;
    width: 100%;
    margin: 5px 0px;
    color: #008A47;
}

/* Right To Left */
html[dir="rtl"] .el_content_keywords .el_content_keywords_title
{
    float:right;
}

.el_content_keywords .el_content_keywords_text
{
    float: left;
    margin: 5px;
}

.el_content_keywords .el_content_keywords_text a
{
    color: #FFFFFF !important;
}

/* Right To Left */
html[dir="rtl"] .el_content_keywords .el_content_keywords_text
{
    float: right !important;
}

.el_footer_common_item
{
    float: left;
    padding: 0px 20px 0px 0px;
    background-repeat: no-repeat;
}

/* Right To Left */
html[dir="rtl"] .el_footer_common_item
{
    float: right !important;
}

.el_rss_link
{
    height: 24px;
    width: 24px;
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -5696px;
}

.el_sitemap_link
{
    height: 24px;
    width: 24px;
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -6336px;
}

.el_bold
{
    height: 24px;
    width: 24px;
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -5568px;
}

.el_no_bold
{
    height: 24px;
    width: 24px;
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -5632px;
}

.el_read_more_link
{
    height: 20px;
    width: 20px;
    background-image: url('../../../image/aggregation_32.png');
    background-position: -12px -4928px;
    background-repeat: no-repeat;
}

/* Start Search */
.el_search
{
    padding: 20px 0px;
    display:table;
    margin: 0px auto;
}

.el_search #txt_SearchInput:focus
{
    box-shadow: none !important;
}

.el_search .el_image_search
{
    cursor:pointer;
	height:32px;
	width:32px;
    background-image: url('../../../image/aggregation_32.png');
    background-position: 5px -5051px;
}

.el_search .el_search_bar
{
    width: 240px;
    height: 32px;
    word-wrap: break-word;
}

.el_search .el_search_bar .el_input_text_box
{
    height: 30px;
    font: 13px/17px Tahoma,Helvetica,sans-serif;
    width: 200px;
    padding-left: 6px;
    background-color: rgb(255, 255, 255);
}

/* Right To Left */
html[dir="rtl"] .el_search .el_search_bar .el_input_text_box
{
    float: right;
    padding-left: 0px !important;
    padding-right: 6px;
}

.el_search .el_search_bar .el_input_image_box
{
    font: 13px/17px Tahoma,Helvetica,sans-serif;
    height: 32px;
    width: 32px;
}

/* Right To Left */
html[dir="rtl"] .el_search .el_search_bar .el_input_image_box
{
    float: right;
}

.el_search .el_search_bar li 
{
    float: left;
    height: 32px;
}

.el_search .el_search_bar .el_input_text_box input
{
    font-size: 14px;
    color: #777;
    border: 0px none;
    width: 180px;
    height: 30px;
    line-height: 30px;
}

/* End Search */

/* Start Rating */

.el_rating_box
{
	display: table;
    float: left
}

.el_rating
{
	width:80px;
	height:16px;
    padding: 8px 0px;
    margin: 0px 10px;
}

.el_ul_rating
{
	list-style-type: none;
	margin:0px;
	padding:0px;
	display:inline;
}
	
.el_ul_rating li
{
	display:inline;
	margin:0px;
	padding:0px;
}

.el_ul_rating li img
{
    text-decoration:none;
    cursor:pointer;
}

.el_ul_rating li img::selection
{
    background-color: unset;
}

/* End Rating */

/* Start Path */

.el_path
{
    padding: 0px 16px;
	list-style-type: none;
	text-align:center;	
}
	
.el_path li
{
	border-bottom:solid 1px #00DA73;
	padding-bottom:5px;padding-top:5px;
	background-repeat:no-repeat;
	background-position:right center;
	padding-right:20px;
}
	
.el_path .el_home
{
	background-image:url(../../../image/home.png);
}
	
.el_path .el_fathers_category
{
	background-image:url(/image/path_fathers_category.png);
}
	
.el_path .el_current_category
{
	background-image:url(../../../image/path_current_category.png);
	margin-right:10px;
}

.el_path .el_content_title
{
	background-image:url(../../../image/path_content_title.png);
	margin-right:20px;
}
	
.el_path a
{
	text-decoration: none;
}

/* End Path */

/* Start Header Bar */

#header_bar 
{
    background-color: #00BA57;
    font: bold 12px Arial,Sans-Serif;
    height: auto;
    min-height: 36px;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    display: table;
}
	
#header_bar a
{
    color: #EEEEEE;
	padding-right: 5px;
	padding-left: 5px;
	text-decoration:none;
}

#header_bar ul
{
	list-style-type:none;
	margin:0px;
	padding:0px;
	color:#FFF;
}
	
#header_bar li
{
    display: inline;
    padding: 0px;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
}

#div_HeaderBarBox
{
    min-height: 20px;
    height: auto;
    width: 300px;
    margin: 0px;
    position: absolute;
    left: 0px;
    color: #FFF;
    border: 1px solid #FFF;
    background-color: #00BA57;
    border-radius: 5px;
    padding: 10px 0px;
}

#div_LanguageListBox
{
    height: auto;
    width: 200px;
    margin: 0px;
    position: absolute;
    left: 0px;
    color: #FFF;
    border: 1px solid #FFF;
    background-color: #00BA57;
    box-shadow: 0px 4px 60px -2px rgba(0, 20, 50, 0.26) inset;   
}

.el_header_bar_box_img
{
	box-shadow: 0px 0px 10px 3px rgba(0, 218, 115, 0.15);
}

.el_show_header_box_button
{
    float: left;
    cursor: pointer;
    background-image: url('../../../image/aggregation_32.png');
    background-position: 10px -3574px;
    background-repeat: no-repeat;
    height: 36px;
    width: 36px;
}

.el_admin_link_in_site
{
    float: right;
    margin-right: 10px;
}

/* Reserve */
.el_user_box
{
    display: table;
    float: right;
    margin-right: 10px;
}

/* Reserve */
.el_user_box a
{
    float: left;
    margin-top: 3px;
}

/* Reserve */
.el_user_box .el_logout
{
    background-image: url('../../../image/aggregation_32.png');
    background-position: 8px -2872px;
    width: 24px;
    height: 24px;
    padding: 7px;
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
    background-color: white;
    border-radius: 25px;
}

/* Reserve */
.el_user_box .el_avatar
{
    width: 30px;
    height: 30px;
    border-radius: 25px;
    display: table;
}

/* End Header Bar */

.el_presentation_panel
{
    font-family: Tahoma;
    margin: 20px 0px;
    width: 100%;
}

.el_language_list_box_hide
{
    display: none;
}

.el_mini_button
{
    color:#008A47 !important;
    background-color: rgb(234, 236, 236);
    padding: 2px 4px;
            
}

.el_footer_bar_part
{
    width: 100%;
    background-color: #242424;
    color: #a8a8a8;
    border-top: 1px solid #6f6f6f;
    display: table;
}

.el_header_bar_left, .el_footer_bar_left
{
    display: table;
    width: 49%;
    float: left;
}

.el_header_bar_right, .el_footer_bar_right
{
    display: table;
    width: 49%;
    float: right;
}

.el_header_bar_left_menu, .el_header_bar_right_menu, .el_footer_bar_left_menu, .el_footer_bar_right_menu
{
    margin: 10px 0px;
    text-align: center;
	font-size: 14px;
	font-family: tahoma;
}

.el_header_bar_left_menu ul li, .el_header_bar_right_menu ul li, .el_footer_bar_left_menu ul li, .el_footer_bar_right_menu ul li
{
	padding: 5px 0px;
}

.el_header_bar_left_item .el_menu_title, .el_header_bar_right_item .el_menu_title, .el_footer_bar_left_item .el_menu_title, .el_footer_bar_right_item .el_menu_title
{
    display: table;
    margin: 0px auto;
}

.el_after_header_item .el_menu_title, .el_before_content_item .el_menu_title, .el_after_content_item .el_menu_title, .el_before_footer_item .el_menu_title, .el_footer_bar_box_item .el_menu_title
{
    display: table;
    margin: 0px auto;
}

.el_after_header_menu, .el_before_content_menu, .el_after_content_menu, .el_before_footer_menu, .el_footer_bar_box_menu
{
    display: table;
    margin: 2px auto;
    line-height: 20px;
    width: 100%;
}

.el_after_header, .el_before_content, .el_after_content, .el_before_footer, .el_footer_bar_box
{
    display: table;
    margin: 0px auto;
    width: 100%;
}

.el_footer_bar_box
{
    width: 100%;
}

.el_back_to_top
{
    height: 24px;
    width: 24px;
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -6656px;
}

/* Start Rss Feed */

.el_rss_list ul li
{
    padding: 10px 0px;
}

.el_rss_list ul ul
{
    padding-bottom: 30px;
    border-bottom: 2px dashed #DDDDDD;
    margin-bottom: 10px;
}

.el_rss_list ul .el_title
{
    font-size: 14px;
    margin: 10px 0px;
    padding: 0px 4px;
    width: 100%;
    background-color: #F7F7F7;
    font-weight: bold;
    color: #008A47;
}

.el_rss_list ul li a
{
    border: 1px solid #DDDDDD;
    text-decoration: none;
    margin: 4px 4px 4px 2px;
    padding: 4px;
    background-color: #ECECEC;        
}

.el_rss_list ul li a .el_rss_mini_icon
{
    padding-left: 18px;
    background-repeat: no-repeat;
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -3521px;
}

/* End Rss Feed */

/* Start Site Map Feed */

.el_site_map_list ul li
{
    padding: 10px 0px;
}

.el_site_map_list ul ul
{
    padding-bottom: 30px;
    border-bottom: 2px dashed #DDDDDD;
    margin-bottom: 10px;
}

.el_site_map_list ul .el_title
{
    font-size: 14px;
    margin: 10px 0px;
    padding: 0px 4px;
    width: 100%;
    background-color: #F7F7F7;
    font-weight: bold;
    color: #008A47;
}

.el_site_map_list ul li a
{
    border: 1px solid #DDDDDD;
    text-decoration: none;
    margin: 4px 4px 4px 2px;
    padding: 4px;
    background-color: #ECECEC;
  
}

.el_site_map_list ul li a .el_site_map_mini_icon
{
    padding-left: 18px;
    background-repeat: no-repeat;
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -2753px;
}

/* End Site Map Feed */

/* Start Print */
.el_print
{
	width:600px;
	margin:0px auto;
}

.el__print_header
{
	width:600px;
	height:128px;
}

.el_print_logo
{
	width:128px;
	height:128px;
	float:left;
}

.el_print_info
{
	width:470px;
	height:128px;
	float:left;
	padding-left:2px;
}

.el_print_date_and_time
{
	padding: 5px 0px;
}

.el_print_number
{
	padding: 5px 0px;
}

.el_print_title
{
	padding: 10px 0px;
	text-align:center;
    font-size: 24px;
}

.el_print_content
{
    line-height:20px;
}

.el_print_content .el_read_more
{
    display: none;
}

/* End Print */

/* Start Rating */

.el_rating 
{
    display: table;
    width: 80px;
    height: 16px;
}

.el_rating ul 
{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: inline;
}

.el_rating ul li 
{
    float: left;
    margin: 0px;
    padding: 0px;
    width:16px;
    height:16px;
    cursor:pointer;
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -3008px;
}

.el_rating_95 .el_Star5 
{
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -3072px;
}

.el_rating_90 .el_Star5
{
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -3136px;
}

.el_rating_85 .el_Star5 
{
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -3200px;
}

.el_rating_80 .el_Star5
{
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -3264px;
}

.el_rating_75 .el_Star5
{
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -3264px;
}

.el_rating_70 .el_Star5
{
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -3264px;
}

.el_rating_65 .el_Star5
{
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -3264px;
}

.el_rating_60 .el_Star5
{
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -3264px;
}

.el_rating_55 .el_Star5
{
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -3264px;
}

.el_rating_50 .el_Star5
{
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -3264px;
}

.el_rating_45 .el_Star5
{
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -3264px;
}

.el_rating_40 .el_Star5
{
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -3264px;
}

.el_rating_35 .el_Star5
{
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -3264px;
}

.el_rating_30 .el_Star5
{
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -3264px;
}

.el_rating_25 .el_Star5
{
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -3264px;
}

.el_rating_20 .el_Star5
{
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -3264px;
}

.el_rating_15 .el_Star5
{
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -3264px;
}

.el_rating_10 .el_Star5
{
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -3264px;
}

.el_rating_5 .el_Star5
{
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -3264px;
}

.el_rating_0 .el_Star5
{
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -3264px;
}

.el_rating_75 .el_Star4 
{
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -3072px;
}

.el_rating_70 .el_Star4
{
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -3136px;
}

.el_rating_65 .el_Star4
{
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -3200px;
}

.el_rating_60 .el_Star4
{
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -3264px;
}

.el_rating_60 .el_Star1
{
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -3008px;
}

.el_rating_60 .el_Star2
{
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -3008px;
}

.el_rating_60 .el_Star3 
{
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -3008px;
}

.el_rating_55 .el_Star4
{
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -3264px;
}

.el_rating_50 .el_Star4
{
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -3264px;
}

.el_rating_45 .el_Star4
{
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -3264px;
}

.el_rating_40 .el_Star4
{
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -3264px;
}

.el_rating_35 .el_Star4
{
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -3264px;
}

.el_rating_30 .el_Star4
{
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -3264px;
}

.el_rating_25 .el_Star4
{
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -3264px;
}

.el_rating_20 .el_Star4
{
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -3264px;
}

.el_rating_15 .el_Star4
{
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -3264px;
}

.el_rating_10 .el_Star4
{
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -3264px;
}

.el_rating_5 .el_Star4
{
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -3264px;
}

.el_rating_0 .el_Star4
{
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -3264px;
}

.el_rating_55 .el_Star3 
{
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -3072px;
}

.el_rating_50 .el_Star3 
{
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -3136px;
}

.el_rating_45 .el_Star3
{
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -3200px;
}

.el_rating_40 .el_Star3
{
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -3264px;
}

.el_rating_35 .el_Star3
{
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -3264px;
}

.el_rating_30 .el_Star3
{
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -3264px;
}
.el_rating_25 .el_Star3
{
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -3264px;
}

.el_rating_20 .el_Star3
{
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -3264px;
}

.el_rating_15 .el_Star3
{
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -3264px;
}

.el_rating_10 .el_Star3
{
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -3264px;
}

.el_rating_5 .el_Star3
{
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -3264px;
}

.el_rating_0 .el_Star3
{
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -3264px;
}

.el_rating_35 .el_Star2
{
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -3072px;
}

.el_rating_30 .el_Star2
{
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -3136px;
}

.el_rating_25 .el_Star2
{
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -3200px;
}

.el_rating_20 .el_Star2
{
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -3264px;
}

.el_rating_15 .el_Star2
{
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -3264px;
}

.el_rating_10 .el_Star2
{
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -3264px;
}

.el_rating_5 .el_Star2
{
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -3264px;
}

.el_rating_0 .el_Star2 
{
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -3264px;
}

.el_rating_15 .el_Star1 
{
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -3072px;
}

.el_rating_10 .el_Star1 
{
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -3136px;
}

.el_rating_5 .el_Star1
{
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -3200px;
}

.el_rating_0 .el_Star1
{
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -3264px;
}

.el_rating .el_star_gold
{
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -2944px;
}

.el_rating .el_star_none
{
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -3264px;
}

.el_rating_NaN .el_Star1
{
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -3264px;
}

.el_rating_NaN .el_Star2
{
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -3264px;
}

.el_rating_NaN .el_Star3
{
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -3264px;
}

.el_rating_NaN .el_Star4
{
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -3264px;
}

.el_rating_NaN .el_Star5
{
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -3264px;
}

/* End Rating */

.el_current_selected_page
{
    border-bottom: 2px solid #008A47;
    background-color: rgba(30, 130, 0, 0.07);
}

/* Start Content Reply */

.el_content_reply .el_item
{
    width: calc(100% - 11px);
    background-color: #EAECEC;
    height: 20px;
    border-left: 3px solid #00BA57;
    margin: 10px auto;
    padding: 4px;
    text-align: center;
    line-height: 20px;
}

/* Right To Left */
html[dir="rtl"] .el_content_reply .el_item
{
    border-right: 3px solid #00BA57;
    border-left: none !important;
}

/* End Content Reply */

/* Start Comment */

#frm_SiteComment
{
    padding: 20px;
}

.el_comment
{
    width: 100%;
    padding-top: 20px;
}

.el_comment .el_title
{
    margin: 0px 0px 10px 0px !important;
}

.el_comment_item
{
    max-width: 100%;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    line-height: 30px;
    font-family: tahoma;
}

.el_comment_item .el_comment_text
{
    color: #333;
    width: calc(100% - 76px);
    display: table;
    margin: 85px 6px 2px 70px;
}

.el_user_avatar
{
    background-repeat: no-repeat;
    background-size: 128px;
    height: 128px;
    width: 128px;
    margin: 6px 0px;
    float: left;
    border: 1px solid #ccc;
}

#img_AvatarLogo
{
    width: 128px;
}

/* Reserve */
.el_user_avatar .el_user_online
{
    height: 20px;
    width: 20px;
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0 0px;
    position: absolute;
}

/* Reserve */
.el_user_avatar .el_user_offline
{
    height: 20px;
    width: 20px;
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0 -768px;
    position: absolute;
}

.el_user_rss_mini_icon 
{
    padding-left: 18px;
    background-repeat: no-repeat;
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -3518px;
}

.el_comment .el_parent_count_0
{
    margin-left: 5px !important;
}

.el_comment .el_parent_count_1
{
    margin-left: 25px !important;
    max-width: calc(100% - 25px);
}

.el_comment .el_parent_count_2
{
    margin-left: 45px !important;
    max-width: calc(100% - 45px);
}

.el_comment .el_parent_count_3
{
    margin-left: 65px !important;
    max-width: calc(100% - 65px);
}

.el_comment .el_parent_count_4
{
    margin-left: 85px !important;
    max-width: calc(100% - 85px);
}

.el_comment .el_parent_count_5
{
    margin-left: 105px !important;
    max-width: calc(100% - 105px);
}

.el_comment .el_parent_count_6
{
    margin-left: 125px !important;
    max-width: calc(100% - 125px);
}

.el_comment .el_parent_count_7
{
    margin-left: 145px !important;
    max-width: calc(100% - 145px);
}

.el_comment .el_parent_count_8
{
    margin-left: 165px !important;
    max-width: calc(100% - 165px);
}

.el_comment .el_parent_count_9
{
    margin-left: 185px !important;
    max-width: calc(100% - 185px);
}

.el_comment .el_parent_count_10
{
    margin-left: 205px !important;
    max-width: calc(100% - 205px);
}

.el_comment .el_item
{
    margin: 40px auto;
    min-height: 64px;
    background-position: left top;
}

.el_comment .el_item .el_comment_title
{
    text-align: center;
    width: 100%;
    font-family: tahoma;
    font-size: 12px;
    padding: 2px 0px;
    min-height: 18px;
    height: auto;
}

.el_comment .el_item .el_details
{
    min-height: 14px;
    float: left;
    padding: 6px;
    max-width: 524px;
    width: calc(100% - 12px);
}

.el_comment .el_item .el_details .el_user_name
{
    float: left;
    margin: 0px 5px;
    font-size: 14px;
    width: calc(100% - 10px);
}

.el_comment .el_item .el_details .el_date_and_time
{
    float: left;
    margin: 0px 5px;
    font-size: 12px;
    width: calc(100% - 10px);
}

.el_comment .el_item .el_text
{
    margin: 12px;
}

.el_comment .el_item .el_reply
{
    float: right;
    background-image: url('../../../image/aggregation_32.png');
    background-position: 48px -1844px;
    background-repeat: no-repeat;
    padding: 0px 8px;
    cursor: pointer;
    background-color: #ddd;
    text-align: left;
    line-height: 30px;
}

.el_comment .el_item .el_reply a
{
    color: #555;
    padding-right: 10px;
}

.el_inaccess_box
{
    width: 100%;
    min-width: 300px;
    font-size: 16px;
    background: #f9f9f9;
    border: solid 1px #ddd;
    border-radius: 5px;
    padding: 15px 0px;
    text-align: center;
	margin: 20px 0px;
}

/* End Comment */

/* Start Content Post */

.el_content_post
{
    margin: 20px 20px 40px 20px;
}

.el_content_post img
{
    max-width: 100%;
    height: auto;
}

.el_content_post .el_reply
{
    float: right;
    background-image: url('../../../image/aggregation_32.png');
    background-position: 48px -1844px;
    background-repeat: no-repeat;
    padding: 6px 20px 6px 6px;
    cursor: pointer;
    color: #008A47;
    line-height: 18px;
}

.el_content_post .el_top
{
    display: table;
    width: calc(100% - 22px);
    height: 90px;
    padding: 10px;
    border-top: solid 1px #ddd;
    border-right: solid 1px #ddd;
    border-left: solid 1px #ddd;
    background-color: #f9f9f9;
}

.el_content_post .el_title
{
    color: #00BA57;
    float: left;
    width: 100%;
}

.el_content_post .el_title h2
{
    line-height: 40px;
    font-size: 24px;
}

.el_content_post .el_title h2
{
    color: #222;
}

/* Right To Left */
html[dir="rtl"] .el_content_post .el_title
{
    float: right !important;
}

.el_content_post .el_content_number
{
    float: left;
}

.el_content_post .el_content_meta
{
    margin-top: 2px;
    font-size: 12px;
    line-height: 12px;
}

.el_content_post .el_read_more
{
    float: right;
    background-color: #f0f0f0;
    display: table;
}

/* Right To Left */
html[dir="rtl"] .el_content_post .el_read_more
{
    float: left;
}

.el_content_post .el_read_more a
{
    color: #00BA57;
    background-image: url('../../../image/aggregation_32.png');
    background-position: 70px -4928px;
    background-repeat: no-repeat;
    padding: 0px 30px 0px 5px;
    white-space: nowrap;
}

.el_content_post .el_content_body_bottom
{
    height: 20px;
    padding: 14px 0px 8px 0px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    border-top: 1px solid #dddddd;
}

.el_content_post .el_content_body_bottom .el_box
{
    float: left;
    margin: 0px 10px;
    width: 220px;
}

/* Right To Left */
html[dir="rtl"] .el_content_post .el_content_body_bottom .el_box
{
    float: right !important;
}

.el_content_post .el_content_body_bottom .el_box .el_comment_load
{
    float: right;
    width: 49.99%;
}

/* Right To Left */
html[dir="rtl"] .el_content_post .el_content_body_bottom .el_box .el_comment_load
{
    float: left !important;
}

/* End Content Post */

/* Start Window Girth Resize */

body.el_size_320 #div_MainLocation
{
    width: 100% !important;
}

body.el_size_320 #div_MainLocation .el_box .el_comment_load, body.el_size_320 #div_MainLocation .el_box .el_rating
{
    float: left !important;
}

/* Right To Left */
html[dir="rtl"] body.el_size_320 #div_MainLocation .el_box .el_comment_load, html[dir="rtl"] body.el_size_320 #div_MainLocation .el_box .el_rating
{
    float: right !important;
}

body.el_size_320 #div_MainLocation .el_content_body
{
    border: none !important;
}

body.el_size_320 #div_MainLocation .el_top
{
    border-right: none !important;
    border-left: none !important;
}

body.el_size_320 #div_ContentLocation
{
    width: 100% !important;
    margin: 0px auto !important;
}

body.el_size_320 #div_RightLocation
{
    width: 100%;
    float: left;
    margin-top: 20px;
    padding: 0px !important;
}

body.el_size_320 #div_LeftLocation
{
    width: 100%;
    float: left;
    margin-top: 20px;
    padding: 0px !important;
}

body.el_size_320 .el_attachment
{
    width: unset !important;
    padding: unset !important;
}

body.el_size_480 #div_MainLocation
{
    width: 100% !important;
}

body.el_size_480 #div_MainLocation .el_box .el_comment_load, body.el_size_480 #div_MainLocation .el_box .el_rating
{
    float: left !important;
}

/* Right To Left */
html[dir="rtl"] body.el_size_480 #div_MainLocation .el_box .el_comment_load, html[dir="rtl"] body.el_size_480 #div_MainLocation .el_box .el_rating
{
    float: right !important;
}

body.el_size_480 #div_MainLocation .el_content_body
{
    border: none !important;
}

body.el_size_480 #div_MainLocation .el_top
{
    border-right: none !important;
    border-left: none !important;
}

body.el_size_480 #div_ContentLocation
{
    width: 100% !important;
    margin: 0px auto !important;
}

body.el_size_480 #div_RightLocation
{
    width: 100%;
    float: left;
    margin-top: 20px;
    padding: 0px !important;
}

body.el_size_480 #div_LeftLocation
{
    width: 100%;
    float: left;
    margin-top: 20px;
    padding: 0px !important;
}

body.el_size_480 .el_attachment
{
    width: unset !important;
    padding: unset !important;
}

body.el_size_640 #div_MainLocation
{
    width: 100% !important;
}

body.el_size_640 #div_MainLocation .el_box .el_comment_load, body.el_size_640 #div_MainLocation .el_box .el_rating
{
    float: left !important;
}

/* Right To Left */
html[dir="rtl"] body.el_size_640 #div_MainLocation .el_box .el_comment_load, html[dir="rtl"] body.el_size_640 #div_MainLocation .el_box .el_rating
{
    float: right !important;
}

body.el_size_640 #div_MainLocation .el_content_body
{
    border: none !important;
}

body.el_size_640 #div_MainLocation .el_top
{
    border-right: none !important;
    border-left: none !important;
}

body.el_size_640 #div_ContentLocation
{
    width: 100% !important;
    margin: 0px auto !important;
}

body.el_size_640 #div_RightLocation
{
    width: 100%;
    float: left;
    margin-top: 20px;
    padding: 0px !important;
}

body.el_size_640 #div_LeftLocation
{
    width: 100%;
    float: left;
    margin-top: 20px;
    padding: 0px !important;
}

body.el_size_720 #div_MainLocation
{
    width: 100% !important;
}

body.el_size_720 #div_ContentLocation
{
    width: 100% !important;
    margin: 0px auto !important;
}

body.el_size_720 #div_RightLocation
{
    width: 100%;
    float: left;
    margin-top: 20px;
    padding: 0px !important;
}

body.el_size_720 #div_LeftLocation
{
    width: 100%;
    float: left;
    margin-top: 20px;
    padding: 0px !important;
}

body.el_size_768 #div_MainLocation
{
    width: 100% !important;
}

body.el_size_768 #div_ContentLocation
{
    width: 100% !important;
    margin: 0px auto !important;
}

body.el_size_768 #div_RightLocation
{
    width: 100%;
    float: left;
    margin-top: 20px;
    padding: 0px !important;
}

body.el_size_768 #div_LeftLocation
{
    width: 100%;
    float: left;
    margin-top: 20px;
    padding: 0px !important;
}

body.el_size_800 #div_MainLocation
{
    width: 100% !important;
}

body.el_size_800 #div_ContentLocation
{
    width: 100% !important;
    margin: 0px auto !important;
}

body.el_size_800 #div_RightLocation
{
    width: 100%;
    float: left;
    margin-top: 20px;
    padding: 0px !important;
}

body.el_size_800 #div_LeftLocation
{
    width: 100%;
    float: left;
    margin-top: 20px;
    padding: 0px !important;
}

body.el_size_960 #div_MainLocation
{
    width: 100% !important;
}

body.el_size_960 #div_ContentLocation
{
    width: 100% !important;
    margin: 0px auto !important;
}

body.el_size_960 #div_RightLocation
{
    width: 100%;
    float: left;
    margin-top: 20px;
    padding: 0px !important;
}

body.el_size_960 #div_LeftLocation
{
    width: 100%;
    float: left;
    margin-top: 20px;
    padding: 0px !important;
}

/* End Window Girth Resize */

/* Start Content Location Resize */

@media (max-width: 1280px) 
{
    #div_RightLocation
    {
        padding: 0px;
    }

    #div_LeftLocation
    {
        padding: 0px;
    }
}

@media (max-width: 1280px) 
{
    #div_ContentLocation
    {
        width: 66%;
    }

    #div_RightLocation
    {
        width: 33%;
    }

    #div_LeftLocation
    {
        width: 100%;
    }

    #div_LeftLocation .el_menu_item
    {
        border-left: 0px;
        border-right: 0px;
    }
}
@media (max-width: 960px) 
{
    #div_MainLocation .el_menu_item
    {
        border-left: 0px;
        border-right: 0px;
    }

    #div_ContentLocation
    {
        width: 100%;
    }

    #div_ContentLocation .el_presentation_panel
    {
        margin: 0px auto !important;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media (max-width: 720px) 
{
    #div_ContentLocation
    {
        max-width: none !important;
        width: 100% !important;
    }

    #div_ContentLocation .el_presentation_panel
    {
        max-width: none !important;
    }

    #div_ContentLocation
    {
        margin: 0px auto;
        display: table;
    }
}

/* End Content Location Resize */

/* Start Main Resize */

#div_MainLocation.el_not_exist_left_menu.el_not_exist_right_menu #div_ContentLocation
{
    width: 100% !important;
}

#div_MainLocation.el_not_exist_left_menu #div_LeftLocation
{
    display: none !important;
}

#div_MainLocation.el_not_exist_right_menu #div_RightLocation
{
    display: none !important;
}

body.el_size_maximum #div_MainLocation.el_not_exist_left_menu #div_ContentLocation
{
    width: 66%;
}

body.el_size_maximum #div_MainLocation.el_not_exist_right_menu #div_ContentLocation
{
    width: 66%;
}

body.el_size_maximum #div_MainLocation.el_not_exist_left_menu #div_RightLocation
{
    width: 33% !important;
}

body.el_size_maximum #div_MainLocation.el_not_exist_right_menu #div_LeftLocation
{
    width: 33% !important;
}
body.el_size_1440 #div_MainLocation.el_not_exist_left_menu #div_ContentLocation
{
    width: 66%;
}

body.el_size_1440 #div_MainLocation.el_not_exist_right_menu #div_ContentLocation
{
    width: 66%;
}

body.el_size_1440 #div_MainLocation.el_not_exist_left_menu #div_RightLocation
{
    width: 33% !important;
}

body.el_size_1440 #div_MainLocation.el_not_exist_right_menu #div_LeftLocation
{
    width: 33% !important;
}

body.el_size_1366 #div_MainLocation.el_not_exist_left_menu #div_ContentLocation
{
    width: 66%;
}

body.el_size_1366 #div_MainLocation.el_not_exist_right_menu #div_ContentLocation
{
    width: 66%;
}

body.el_size_1366 #div_MainLocation.el_not_exist_left_menu #div_RightLocation
{
    width: 33% !important;
}

body.el_size_1366 #div_MainLocation.el_not_exist_right_menu #div_LeftLocation
{
    width: 33% !important;
}

body.el_size_1280 #div_MainLocation.el_not_exist_left_menu #div_ContentLocation
{
    width: 66%;
}

body.el_size_1280 #div_MainLocation.el_not_exist_right_menu #div_ContentLocation
{
    width: 66%;
}

body.el_size_1280 #div_MainLocation.el_not_exist_left_menu #div_RightLocation
{
    width: 33% !important;
}

body.el_size_1280 #div_MainLocation.el_not_exist_right_menu #div_LeftLocation
{
    width: 33% !important;
}

body.el_size_1024 #div_MainLocation.el_not_exist_left_menu #div_ContentLocation
{
    width: 66%;
}

body.el_size_1024 #div_MainLocation.el_not_exist_right_menu #div_ContentLocation
{
    width: 66%;
}

body.el_size_1024 #div_MainLocation.el_not_exist_left_menu #div_RightLocation
{
    width: 33% !important;
}

body.el_size_1024 #div_MainLocation.el_not_exist_right_menu #div_LeftLocation
{
    width: 33% !important;
}

/* Start Auto Hide */

@media (max-width: 428px) 
{
    .el_header_bar_left, .el_header_bar_right, .el_header .el_header_1, .el_header .el_header_2, .el_footer_bar_left, .el_footer_bar_right
    {
        width: 100%;
    }

    .el_show_header_box_button
    {
        display: none;
    }
}

/* End Auto Hide */

/* End Main Resize */

/* Start Alert */

.el_use_cookie_message_alert
{
	z-index: 9999;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #fff;
	border-top: 1px solid #aaa;
	color: #222;
	text-align: center;
	padding-top: 12px;
	line-height: 20px;
	height: 50px;
	display: table;
}

.el_noscript_message_alert
{
    z-index:9999;
    position:fixed;
    bottom:100px;
    display:table;
    left:0;
    width:100%;
    background: rgba(0, 0, 0, 0.2);
    border-top:2px solid #ED1C24;
    border-bottom:2px solid #ED1C24;
    color:#ED1C24;
    text-align:center;
    padding:20px 0;
    line-height:1.2;
    font-weight:bold;
}

/* End Alert */
    
.el_label_light
{
    display: inline-block;
    padding: 2px 4px;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    color: #FFF;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #008A47;
    border-radius: 5px;
}

.el_label_dark
{
    display: inline-block;
    padding: 2px 4px;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    color: #FFF;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #777;
    margin: 1px 0px;
    border-radius: 5px;
}

/* Start Ajax Loading */

#div_AjaxLoading 
{
    left: 0px;
    z-index: 990;
    width: 200px;
    bottom: 0px;
    text-align: center;
    background-color: rgba(0,218,115,0.25);
    display: block;
    position: fixed;
    padding: 10px;
    border: 2px solid #00DA73;
    cursor: wait;
}

#div_AjaxLoading img
{
    z-index: 989;
}

/* End Ajax Loading */

.el_language_link
{
    padding-left: 34px;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 24px auto;
}

/* Right To Left */
html[dir="rtl"] .el_language_link
{
    padding-right: 34px;
    background-position: right center;
}

.el_content_icon 
{
    width: 20px;
    height: 20px;
    float: right;
    margin-right: 10px;
}

.el_content_logo
{
    text-align: center;
}

.el_content_logo img
{
    max-width: 300px;
    max-height: 300px;
}

/* Start Search */

.el_search_item
{
    width: calc(100% - 22px);
    height: auto;
    margin: 40px 0px;
    border: 1px solid #D3D3D3;
    padding: 10px;
    display: table;
    border-radius: 5px;
}

.el_search_item br
{
    height: 2px;
    display: table;
}

.el_search_item .el_title
{
    display: table;
    margin-top:5px !important;
    border-bottom : unset !important;
}

.el_search_item .el_up_details
{
    color:gray;
    width:300px;
}

.el_search_item .el_title
{
    font: bold 16px Arial;
    text-decoration:none;
}

.el_search_item .el_down_details
{
    width:300px;
}

.el_search_item .el_down_details .el_details_item
{
    padding:0px 10px;
}

/* End Search */

/* Start Site Name */

.el_site_name_box
{
    margin: 51px 0px;
}

.el_site_name
{
    width: 100%;
    font-size: 30px;
    color: rgb(0, 138, 71);
    text-shadow: 0.5px 0.5px rgb(0, 186, 87);
}

.el_site_slogan_name
{
    color: rgb(0, 186, 87);
    padding: 6px;
	font-size: 18px;
	font-family: tahoma;
    margin-top: 10px;
}

.el_site_name:first-letter, .el_site_slogan_name:first-letter
{
    text-transform: uppercase;
}

/* Right To Left */
html[dir="rtl"] .el_site_name:first-letter, html[dir="rtl"] .el_site_slogan_name:first-letter
{
    text-transform: unset;
}

/* End Site Name */

/* Start Read More */

/* Reserve */
.el_read_more
{
    width:108px;
    height:20px;
    text-align:center;
    font-family:arial;
    color:#008A47;
}

.el_read_more .el_right
{
    float:right;
    width:80px;
}

.el_read_more .el_left
{
    float:left;
    width:28px;
}

@media (max-width: 500px) 
{
    .el_read_more
    {
        float: left !important;
        margin: 10px;
    }

    /* Right To Left */
    html[dir="rtl"] .el_read_more
    {
        float: right !important;
        margin: 10px;
    }
}

/* End Read More */

/* Start Table */

#div_TableBox
{
    line-height: 12px;
}

/* Start Search Box */

.el_search_box
{
    float:right;
	padding:0px;
	margin:0px;
}

.el_search_box .el_image_search 
{
    cursor: pointer;
	float:right;
	height:20px;
	width:20px;
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -5056px;
}

.el_search_box .el_txt_search 
{
	height: 20px;
	padding: 0px;
	border: none;
	background-color: #EAECEC;
    border: 1px solid #DDDDDD;
}

.el_search_box ul li
{
	float:left;
	margin:0px 2px;
	list-style-type:none;
}

/* End Search Box */

.el_table_title
{
    width: 100%;
    float: left;
    display: table;
    color: #000;
    margin: 2px 0px;
    padding: 10px 0px 0px;
    background-color: #f7f7f7;
    border: 1px solid #EEE;
}

/* Reserve */
.el_table_box_layout
{
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -2368px;
    background-repeat: no-repeat;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    float: right;
    margin: 0px 4px;
    border: medium none;
    width: 16px;
}

/* Reserve */
.el_table_row_layout
{
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -3456px;
    background-repeat: no-repeat;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    float: right;
    margin: 0px 4px;
    border: medium none;
    width: 16px;
}

/* Reserve */
.el_table_cell
{
    font-size: 14px;
    float:left;
    margin-right:10px;
    width:200px;
    height: 20px;
    display: table;
}

/* Right To Left */
html[dir="rtl"] #div_TableBox
{
    direction: ltr;
}

.el_table_row
{
    width:100%;
    float:left;
    padding:6px 0px;
    display:table;
    margin: 2px 0px;
    border-bottom: 1px solid #EEE;
    border-right: 1px solid #EEE;
    border-left: 1px solid #EEE;
    background-repeat: repeat-x;
}

.el_table_row:hover
{
    background-color: #F3F3F3;
    border-bottom: 1px dashed #DDD;
    border-right: 1px dashed #DDD;
    border-left: 1px dashed #DDD;
}
            
.el_table_row:first-child
{
    border-bottom: 3px solid #aaaaaa;
    background-color: #E4FFE6;
}

/* Reserve */
.el_table_box
{
    width: 280px;
    min-height: 150px;
    float: left;
    padding: 5px;
    margin: 5px;
    background-repeat: repeat-x;
    border: 1px solid #ddd;
}

.el_table_box .el_table_cell
{
    margin-top: 2px;
    margin-bottom: 2px;
}

.el_table_header_item
{
    font-size:12px;
    font-weight:bold;
}

.el_desc_sort
{
    float: left;
    padding: 4px 0px;
    width: 18px;
    height: 8px;
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -1984px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.el_asc_sort
{
    padding: 4px 0px;
    width: 18px;
    height: 8px;
    background-image: url('../../../image/aggregation_32.png');
    background-position: 0px -1920px;
    background-repeat: no-repeat;
    cursor: pointer;
}

/* End Table */

/* Start AddOns Class */

/* Start Plugin */

/* Start Show Accept Cookie Message */

#div_AcceptCookieMessage
{
    font-weight: bold;
}

/* End Show Accept Cookie Message */

/* End Plugin */

/* End AddOns Class */
